body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #d4a31c;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo img {
    /* display: none; */
    width: 6vh;
    /* height: 40px; */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: inline;
    margin-right: 20px;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
}
.nav-links li a:hover {
 color: brown;
}
#signin, #shuffle{
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: brown;
    border-radius: 20px;
}
#signin:hover, #shuffle:hover{
    background-color: rgba(165, 42, 42, 0.9);
}
#signin a:hover{
    color: rgb(209, 209, 209);
}
.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* margin-top: 50px; */
}
.hero img{
    opacity: 30%;
    width: 100%;
}
.hero h1{
    position: absolute;
    padding: 20px;
    color: brown;
    z-index: inherit;
}
.hero p{
    margin-top: 50px;
    position: absolute;
    padding: 20px;
    color: rgb(36, 36, 36);
}

h1{
    margin-bottom: 5px;
    padding-left: 20px;
    color: brown;
}
p{
    margin: 0;
    padding: 0px 20px;
    color: rgb(36, 36, 36);
}
.team ul{
    /* overflow: hidden; */
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    list-style-type: none;

}
.team ul li{
    padding-top: 10px;
    background-color: #ffd;
    border-radius: 15px;
    text-decoration: none;
    width: 100px;
    align-self: center;
    justify-items: center;
}
.team img{
    width: 80%;
    justify-self: center;
}
h4{
    /* justify-self: center; */
}
.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 80vh; */
}
.dashboard div{
    background-color: aliceblue;
    border-radius: 20px;
    /* padding: 10px; */
    margin: 20px;
    /* max-width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard div img{
    width: 200px;
    height: 200px;
}
/* test start */
.dashboard div p{
    overflow: hidden;
    height: 3.6em;
    line-height: 1.2em;
    width: 200px;
}
#more:checked + .dashboard div p {
    height: auto;
}

.show-more {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
  /* test end */
.breakfast{
    color: blue;
}
.lunch{
    color: red;
}
.dinner{
    color: green;
}

@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column; /* Change direction to vertical */
        background-color: #333; /* Add background color */
        position: absolute; /*Position the menu absolutely */
        top: 10vh; /* Position it below the header */
        left: 0; /* Align with the left edge */
        width: 100%; /* Occupy full width */
        padding: 10px 0; /* Add some padding */
    }

    .nav-links li {
        display: block; /* Display list items as block elements */
        margin: 0; /* Remove margin */
        text-align: center; /* Center-align text */
        /* margin: 15px; */
        padding: 20px;
    }

    .nav-links.active {
        display: block;
    }
}