{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock head %}

{% block main %}
  <section>
  <div class="container" style="margin: 80px 10px;">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form method="post" >
        {% csrf_token %}
        <label for="id_username">Email:</label>
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="255" required="" id="id_username">

        <label for="id_password">Password:</label>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check"><a href="{% url "signup" %}">Signup</a></label>
        </span>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
